body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#cart, #products {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

#products ul {
  list-style: none;
  padding: 0;
}

#products ul li {
  margin-bottom: 10px;
}

#products ul li img {
  vertical-align: middle;
  margin-right: 50px;
  width: 400px;
}

#products ul li button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#products ul li button:hover {
  background-color: #005F6B;
}

#cart h2 {
  margin-bottom: 10px;
}

#cart ul {
  list-style: none;
  padding: 0;
}

#cart ul li {
  margin-bottom: 5px;
}

#total {
  font-weight: bold;
}

/* Estilos para el carrito */
#cart {
  background-color: #e6f7ff;
}

#cart ul {
  list-style: none;
  padding: 0;
}

#cart ul li {
  margin-bottom: 5px;
}

#total {
  font-weight: bold;
}

#total::before {
  content: "Total: $";
}

/* Estilos para el botón Agregar al carrito */
button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #005F6B;
}


  